@import "nativescript-theme-core/css/sky.css";

.testPage {
    border-radius: 20;
    color: black;
}

.start_img {
    height: 160px;
    width: 160px;
}
.si-gi {
    margin-top: 10;
    margin-left: -40;
    font-size: 24px;
    margin-bottom: 50;
    color: blue;
}

.follow {
    margin-top: -50;
    margin-left: -20;
    margin-right: 20;
    font-size: 18px;
}

.btn {
    border-radius: 30; border-style: solid; border-width: 2px;
    color: black; font-size: 18;
}

#list {
    font-size: 20px;
    color: rgb(52, 67, 102);
}

.list {
    padding-left: 20%;
}